@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row post-frame ">
    <div class="co-12 p-3">
        <h1>@ViewData["Title"] </h1>
    </div>
    <div class="col-12 mt-1 p-4">
        <p class="row font-weight-bold">
            2021 The Baller Scout Platform. All Rights Reserved.
        </p>
        <p class="row font-weight-bold">
            We believe in full transparency—from our labels to our privacy policy—so here are the
            highlights when it comes to your personal information.<br />
            We collect your data through various sources—our websites, the Baller-Scout app, promotions, etc.—and we use that information to
            help us provide the best possible experience for you.<br />
            That sometimes means sharing your information with our partners when we do special promotions or using
            your location (if you opt in) to provide nearby offers.<br />
            To learn more about how we collect and use your data, along with your rights as a consumer, explore the sections above.
        </p>
    </div>
</div>

