<div class="post-frame section-bgc">
    <h4 class="font-weight-bold">Thank you for verifing. </h4>
    <h4 class="font-weight-bold">Your Account is ready to Use!</h4>
    <h4 class="font-weight-bold">Go to Login Page and Start Using  Baller Scout site</h4>
</div>
