@model BallerScout.Entities.PlayerHistory

@{
    ViewData["Title"] = "EditTransfer";
}

<h1>EditTransfer</h1>

<h4>PlayerHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTransfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromClub" class="control-label"></label>
                <input asp-for="FromClub" class="form-control" />
                <span asp-validation-for="FromClub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToClub" class="control-label"></label>
                <input asp-for="ToClub" class="form-control" />
                <span asp-validation-for="ToClub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                <input asp-for="ContractType" class="form-control" />
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDate" class="control-label"></label>
                <input asp-for="TransferDate" class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserFullName" class="form-control" />
            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="HistoryId" class="form-control" />
            <input type="hidden" asp-for="TransferDateString" class="form-control" />

            <div asp-validation-summary="All" class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
