@model BallerScout.Models.PostModel

@{      
    ViewData["title"] = "Posts";
}

<div class="col-md-8 border-dark">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <label>Upload Your Photo</label>
            <div class="row mt-2">
                <input type="file" name="file" />
            </div>         
            <div class="row">
                <label asp-for="Description">Write Your Description</label>
                <input type="text" asp-for="Description" class="form-control" />
            </div>
            <button id="uploadPhoto" type="submit" class="btn btn-primary btn-block">Post</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Post.js"></script>
} 